<div class="lifts">
        <button id="lift-1"></button>
        <button id="lift-2"></button>
        <button id="lift-3"></button>
    </div>
    <div>
        <button class="btn-5" type='button' {{on "click" this.downstart5}}>F5-Down</button>
    </div><hr>
    <div>
        <button class="btn-4" {{on "click" this.upstart4}} onclick="upstart4()">F4-Up</button>
        <button class="btn-4" {{on "click" this.downstart4}} onclick="downstart4()">F4-Down</button>
    </div><hr>
    <div>
        <button class="btn-3" {{on "click" this.upstart3}} onclick="upstart3()">F3-Up</button>
        <button class="btn-3" {{on "click" this.downstart3}} onclick="downstart3()">F3-Down</button>
    </div><hr>
    <div>
        <button class="btn-2" {{on "click" this.upstart2}} onclick="upstart2()">F2-Up</button>
        <button class="btn-2" {{on "click" this.downstart2}} onclick="downstart2()">F2-Down</button>
    </div><hr>
    <div>
        <button class="btn-1" {{on "click" this.upstart1}} onclick="upstart1()">F1-Up</button>
        <button class="btn-1" {{on "click" this.downstart1}} onclick="downstart1()">F1-Down</button>
    </div><hr>
    <div>
        <button class="btn-0" {{on "click" this.zero}} onclick="zero()">Zero-Up</button>
    </div><hr>