<div class="lifts">
    <button id="lift-one"></button>
    <button id="lift-two"></button>
    <button id="lift-three"></button>
</div>
<div>
    <button class="btn-5" {{on "click" this.downstart5}}>F5-Down</button>
</div>
<hr>
<div>
    <button class="btn-4" {{on "click" this.upstart4}}>F4-Up</button>
    <button class="btn-4" {{on "click" this.downstart4}}>F4-Down</button>
</div>
<hr>
<div>
    <button class="btn-3" {{on "click" this.upstart3}}>F3-Up</button>
    <button class="btn-3" {{on "click" this.downstart3}}>F3-Down</button>
</div>
<hr>
<div>
    <button class="btn-2" {{on "click" this.upstart2}}>F2-Up</button>
    <button class="btn-2" {{on "click" this.downstart2}}>F2-Down</button>
</div>
<hr>
<div>
    <button class="btn-1" {{on "click" this.upstart1}}>F1-Up</button>
    <button class="btn-1" {{on "click" this.downstart1}}>F1-Down</button>
</div>
<hr>
<div>
    <button class="btn-0" {{on "click" this.zero}}>Zero-Up</button>
</div>
<hr>